{% extends "base.html" %}

{% block title %}
    Register
{% endblock title%}

{% block content %}

<div class="container login-container">
    <div class="row">
        <div class="col-md-6 login-form-1">
            <h3>Signup Page</h3>

            <form action="#" method="POST">
                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="username" name="username"
                    aria-label="username" aria-describedby="basic-addon1">
                

                    <div id="usernameHelp" class="form-text">
                        Please insert your username
                    </div>

                    <!-- <ul class="errors">
                        <li class="alert text-danger"></li>
                    </ul> -->
                </div>

                <div class="mb-3">
                    <input type="text" class="form-control" placeholder="email" name="email"
                        aria-label="email" aria-describedby="basic-addon1">
                    

                    <div id="emailHelp" class="form-text">
                        Please insert your email
                    </div>

                    <!-- <ul class="errors">
                        <li class="alert text-danger"></li>
                    </ul> -->
                </div>

                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="password" name="password"
                        aria-label="password" aria-describedby="basic-addon1">
                    

                    <div id="passwordHelp" class="form-text">
                        Please insert your password
                    </div>

                    <!-- <ul class="errors">
                        <li class="alert text-danger"></li>
                    </ul> -->
                </div>

                <div class="mb-3">
                    <input type="password" class="form-control" placeholder="password" name="password2"
                        aria-label="password2" aria-describedby="basic-addon1">
                    

                    <div id="password2Help" class="form-text">
                        Retype your password
                    </div>

                    <!-- <ul class="errors">
                        <li class="alert text-danger"></li>
                    </ul> -->
                </div>

                <div class="mb-3">
                    <button type="submit" class="btn btn-primary">
                        Submit
                    </button>
                </div>
                
            </form>

        </div>
    </div>
</div>



{% endblock content %}